.Card {
	position: absolute;
	width: 201px;
	height: 275px;
	border: 1px solid #43425d;
	box-shadow: 0px 3px 18px #00000029;
	border-radius: 10px;
	background: #fff;
	z-index: 10;
	padding: 26px;
	opacity: 0;
	animation: Fade 0.5s forwards;
	transform: translateX(-50%);
}
.Card::after {
	content: '';
	position: absolute; /* Абсолютное позиционирование */
	left: 50%;
	top: -18px; /* Положение треугольника */
	border: 9px solid transparent; /* Прозрачные границы */
	border-bottom: 9px solid #43425d; /* Добавляем треугольник */
	transform: translateX(-50%);
	z-index: 5;
}
.Close {
	position: absolute;
	right: 7px;
	top: 5px;
	padding: 3px 6px;
	border-radius: 50%;
	border: 3px solid #d6d6d6;
	color: #d6d6d6;
	font-weight: bold;
	cursor: pointer;
	font-size: 14px;
}

.Edit > button:nth-of-type(1) {
	text-transform: uppercase;
}

.Controls {
	margin-top: 38px;
	display: flex;
	justify-content: space-between;
}
.Controls button {
	font-size: 12px;
	cursor: pointer;
}
.Controls > button:nth-of-type(1) {
	color: #ff5f5f;
}
.Controls > button:nth-of-type(2) {
	color: #6a6996;
}

.EventName {
	margin-bottom: 20px;
}
.EventDate {
	margin-bottom: 20px;
}
.EventTime {
	margin-bottom: 20px;
}
.Notes {
	margin-bottom: 20px;
}
.Card input {
	border: none;
	border-bottom: 0.3px solid #43425d80;
	outline: none;
	font-size: 9px;
	padding-top: 5px;
	color: #43425d;
	width: 100%;
}

.Card label {
	color: #d6d6d6;
	font-size: 9px;
	display: block;
}

.Card :global(.react-datepicker-wrapper) {
	width: 100%;
}
.Card:global(.react-datepicker-popper) {
	z-index: 7;
}
@keyframes Fade {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}
