.Sidebar {
	width: 100%;
	max-width: 260px;
	height: 100%;
}
.Logo {
	height: var(--header-height);
	background: #3d3b53;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	letter-spacing: 3px;
	color: #fff;
}
.NavItem {
	height: 53px;
	font-size: 15px;
	border-left: 5px solid transparent;
	display: flex;
	align-items: center;
	padding-left: 20px;
	text-decoration: none;
	color: #fff;
}
.NavItem svg {
	margin-right: 10px;
}
.Active > div {
	border-color: #a3a0fb;
	background: #3d3b53;
}
